In [4]:
import os
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession

In [5]:
from pandas_profiling import ProfileReport
pd.set_option('display.max_columns', 500)

In [6]:
DATAFOLDER = '/Users/christian/Data/udacity_capstone/'

# Clean up csv files

## cntyl

In [29]:
cnt = pd.read_csv(os.path.join(DATAFOLDER, 'i94cntyl.csv'), sep=',', quotechar="'")

In [30]:
def format_allcaps(st):
    spl = st.split(' ') 
    spl = [s.capitalize() for s in spl]
    return ' '.join(spl)

In [32]:
cnt['i94cntyl'] = cnt['i94cntyl'].apply(lambda x: format_allcaps(x))

In [35]:
cnt.to_csv(os.path.join(DATAFOLDER, 'i94cntyl.csv'), index=False, sep=',', quotechar="'")

## addrl

In [7]:
cnt = pd.read_csv(os.path.join(DATAFOLDER, 'i94addrl.csv'), sep=',', quotechar="'")

In [9]:
def format_allcaps(st):
    spl = st.split(' ') 
    spl = [s.capitalize() for s in spl]
    return ' '.join(spl)

In [11]:
cnt['i94addrl'] = cnt['i94addrl'].apply(lambda x: format_allcaps(x))

In [12]:
cnt.head()

  value    i94addrl
0    AL     Alabama
1    AK      Alaska
2    AZ     Arizona
3    AR    Arkansas
4    CA  California

In [20]:
cnt.loc[cnt['i94addrl']=='Dist. Of Columbia', 'i94addrl'] = 'District of Columbia'

In [21]:
cnt.loc[cnt['i94addrl']=='S. Carolina', 'i94addrl'] = 'South Carolina'
cnt.loc[cnt['i94addrl']=='N. Carolina', 'i94addrl'] = 'North Carolina'
cnt.loc[cnt['i94addrl']=='S. Dakota', 'i94addrl'] = 'South Dakota'
cnt.loc[cnt['i94addrl']=='N. Dakota', 'i94addrl'] = 'North Dakota'
cnt.loc[cnt['i94addrl']=='W. Virgina', 'i94addrl'] = 'West Virginia'

In [22]:
cnt.to_csv(os.path.join(DATAFOLDER, 'i94addrl.csv'), index=False, sep=',', quotechar="'")

# prtl

In [62]:
cnt = pd.read_csv(os.path.join(DATAFOLDER, 'i94prtl.csv'), sep=',', quotechar="'")

In [67]:
def format_names(st):
    spl = st.split(', ')
    spl = spl[0]
    spl = spl.split(' ')
    spl = [s.capitalize() for s in spl]
    return ' '.join(spl)

def state_short(st):
    st = st.rstrip()
    spl = st.split(' ')
    spl = spl[-1]
    return spl

In [68]:
cnt

    value                       i94prtl
0     ALC        ALCAN, AK
1     ANC        ANCHORAGE, AK
2     BAR  BAKER AAF - BAKER ISLAND, AK
3     DAC        DALTONS CACHE, AK
4     PIZ    DEW STATION PT LAY DEW, AK
..    ...                           ...
655  ADU             No PORT Code (ADU)
656  AKT             No PORT Code (AKT)
657  LIT             No PORT Code (LIT)
658  A2A             No PORT Code (A2A)
659  OSN             No PORT Code (OSN)

[660 rows x 2 columns]

In [69]:
cnt['i94prtl'].iloc[0]

'ALCAN, AK             '

In [70]:

i94prtl_city = pd.DataFrame({'value': cnt['value'], 'i94prtl_city': cnt['i94prtl']}) 
i94prtl_city['i94prtl_city'] = i94prtl_city['i94prtl_city'].apply(lambda x: format_names(x))

i94prtl_state = pd.DataFrame({'value': cnt['value'], 'i94prtl_state': cnt['i94prtl']}) 
i94prtl_state['i94prtl_state'] = i94prtl_state['i94prtl_state'].apply(lambda x: state_short(x))

In [74]:

i94prtl_city.to_csv(os.path.join(DATAFOLDER, 'i94prtl_city.csv'), index=False, sep=',', quotechar="'")

In [75]:
i94prtl_state.to_csv(os.path.join(DATAFOLDER, 'i94prtl_state.csv'), index=False, sep=',', quotechar="'")