In [209]:
import os
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
from itertools import chain
from pyspark.sql.functions import udf
from functools import reduce

In [183]:
DATAFOLDER = '/Users/christian/Data/udacity_capstone/'
OUTPUTFOLDER = '/Users/christian/Data/udacity_capstone/output'

In [184]:
def get_immi_schema():
    """
    Map the column names to datatypes and return as a schema.
    """
    immi_schema = T.StructType([
        T.StructField('cicid', T.IntegerType()),
        T.StructField('i94yr', T.StringType()),
        T.StructField('i94mon', T.StringType()),
        T.StructField('i94cit', T.StringType()),
        T.StructField('i94res', T.IntegerType()),
        T.StructField('i94port', T.StringType()),
        T.StructField('arrdate', T.StringType()),
        T.StructField('i94mode', T.StringType()),
        T.StructField('i94addr', T.StringType()),
        T.StructField('depdate', T.StringType()),
        T.StructField('i94bir', T.StringType()),
        T.StructField('i94visa', T.StringType()),
        T.StructField('count',  T.IntegerType()),
        T.StructField('dtadfile', T.StringType()),
        T.StructField('visapost', T.IntegerType()),
        T.StructField('occup', T.StringType()),
        T.StructField('entdepa', T.StringType()),
        T.StructField('entdepd', T.IntegerType()),
        T.StructField('entdepu', T.StringType()),
        T.StructField('matflag', T.StringType()),
        T.StructField('biryear', T.StringType()),
        T.StructField('dtaddto', T.StringType()),
        T.StructField('gender', T.StringType()),
        T.StructField('insnum', T.StringType()),
        T.StructField('airline', T.StringType()),
        T.StructField('admnum', T.StringType()),
        T.StructField('fltno', T.StringType()),
        T.StructField('visatype', T.StringType()),
    ])
    return immi_schema

In [4]:
schema = get_immi_schema()

In [5]:

spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
#df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
df_spark = spark.read.option("mergeSchema", "true").parquet(os.path.join(DATAFOLDER, 'sas_data'))

# convert data types

In [6]:
df_spark = df_spark.withColumn('i94yr', df_spark['i94yr'].cast(T.IntegerType())).\
        withColumn('i94mon', df_spark['i94mon'].cast(T.IntegerType())).\
        withColumn('i94cit', df_spark['i94cit'].cast(T.IntegerType())).\
        withColumn('i94res', df_spark['i94res'].cast(T.IntegerType())).\
        withColumn('arrdate', df_spark['arrdate'].cast(T.IntegerType())).\
        withColumn('i94mode', df_spark['i94mode'].cast(T.IntegerType())).\
        withColumn('depdate', df_spark['depdate'].cast(T.IntegerType())).\
        withColumn('i94bir', df_spark['i94bir'].cast(T.IntegerType())).\
        withColumn('i94visa', df_spark['i94visa'].cast(T.IntegerType())).\
        withColumn('count', df_spark['count'].cast(T.IntegerType())).\
        withColumn('biryear', df_spark['biryear'].cast(T.IntegerType())).\
        withColumn('admnum', df_spark['admnum'].cast(T.IntegerType()))

In [13]:
df_sample = pd.read_csv(os.path.join(DATAFOLDER, 'immigration_data_sample.csv'))

In [14]:
df_spark.head()

Row(cicid=459651.0, i94yr=2016, i94mon=4, i94cit=135, i94res=135, i94port='ATL', arrdate=20547, i94mode=1, i94addr='FL', depdate=20559, i94bir=54, i94visa=2, count=1, dtadfile='20160403', visapost=None, occup=None, entdepa='O', entdepd='R', entdepu=None, matflag='M', biryear=1962, dtaddto='07012016', gender=None, insnum=None, airline='VS', admnum=2147483647, fltno='00115', visatype='WT')

In [77]:
df_time = df_spark
df_time = df_time.withColumn("arrival_date", F.expr("date_add(to_date('1960-01-01'), arrdate)"))
df_time = df_time.withColumn("depart_date", F.expr("date_add(to_date('1960-01-01'), depdate)"))

In [80]:
df_time.withColumn("diff_days", F.datediff("depart_date", "arrival_date")).show()

+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+
|   cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|    admnum|fltno|visatype|arrival_date|depart_date|diff_days|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+
|459651.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20559|    54|      2|    1|20160403|    null| null|      O|      R|   null|      M|   1962|07012016|  null|  null|     VS|2147483647|00115|      WT|  2016-04-03| 2016-04-15|       12|
|459652.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20555|    74|      2|    1|20160403|    null| null|      T|      O|   null|      M|   1942|07012016|     F|  null|     VS| 674406485|  103|      WT|  2016-04-03| 2016-04-11|        8|
|459653.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20557|    44|      2|    1|20160403|    null| null|      T|      Q|   null|      M|   1972|10022016|     M|  null|     VS| 674948185|  109|      B2|  2016-04-03| 2016-04-13|       10|
|459654.0| 2016|     4|   135|   135|    ATL|  20547|      1|      G|  20555|    38|      2|    1|20160403|    null| null|      O|      O|   null|      M|   1978|07012016|  null|  null|     VS|2147483647|00103|      WT|  2016-04-03| 2016-04-11|        8|
|459655.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    64|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1952|07012016|     F|  null|     VS|2147483647|00103|      WT|  2016-04-03|       null|     null|
|459656.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    63|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1953|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03|       null|     null|
|459657.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    44|      1|    1|20160403|    null| null|      G|      I|   null|      M|   1972|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-04|        1|
|459658.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    39|      1|    1|20160403|    null| null|      G|      I|   null|      M|   1977|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-04|        1|
|459659.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20573|    84|      2|    1|20160403|    null| null|      G|      I|   null|      M|   1932|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-29|       26|
|459660.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20555|    55|      2|    1|20160403|    null| null|      G|      N|   null|      M|   1961|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-11|        8|
|459661.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20555|    54|      2|    1|20160403|    null| null|      G|      N|   null|      M|   1962|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-11|        8|
|459662.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    36|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1980|07012016|     M|  null|     DL|2147483647|00349|      WT|  2016-04-03| 2016-04-04|        1|
|459663.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20549|    71|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1945|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-05|        2|
|459664.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20549|    39|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1977|07012016|     M|  null|     VS|2147483647|00109|      WT|  2016-04-03| 2016-04-05|        2|
|459665.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    54|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1962|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-06|        3|
|459666.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    51|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1965|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-06|        3|
|459667.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    43|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1973|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-06|        3|
|459668.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    37|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1979|07012016|     F|  null|     DL|2147483647|00029|      WB|  2016-04-03| 2016-04-06|        3|
|459669.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    33|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1983|07012016|     F|  null|     VS|2147483647|00109|      WB|  2016-04-03| 2016-04-06|        3|
|459670.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    50|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1966|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-06|        3|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+
only showing top 20 rows

## map i94addrl - state

In [109]:

def map_col(df, map_col_name, df_col_name, new_col_name):
    """
    
    Parameters
    ----------
    df : spark dataframe
        The file containing the df_col_name to be used for mapping.
    map_col_name : str
        The column name of the mapping file.
    df_col_name : str
        The column name in the Spark dataframe to be used.
    new_col_name : str
        New column name of the mapping results.
    
    
    """
    df_map = pd.read_csv(os.path.join(DATAFOLDER, f'{map_col_name}.csv'), quotechar="'")
    dic_map = dict(zip(df_map['value'], df_map[map_col_name]))
    mapping_expr = F.create_map([F.lit(x) for x in chain(*dic_map.items())])
    return df.withColumn(new_col_name, mapping_expr[F.col(df_col_name)])



@udf
def udf_city_name(city_full):
    splt = str.split(city_full, ',')
    if len(splt) == 0:
        return ''
    return splt[0].capitalize().strip()

@udf
def udf_state_short(city_full):
    splt = str.split(city_full, ',')
    if len(splt) < 2:
        return ''
    return splt[1].strip()

@udf
def udf_state_format(port_state):
    return port_state.capitalize()

In [110]:
df_test.select("i94addr").distinct().show(10)

+-------+
|i94addr|
+-------+
|     CI|
|     FT|
|     SC|
|     AZ|
|     PU|
|     UA|
|     EA|
|     NS|
|     KI|
|     PI|
+-------+
only showing top 10 rows

# TODO replace mapping in i94addrl to have names in captialize!

In [124]:
#df, map_col_name, df_col_name, new_col_name
df_test = df_time
#df_test = map_col(df_test, 'i94prtl', 'i94port', 'port')

# city name of arrival port
#df_test = df_test.withColumn("port_city", udf_city_name("port"))
df_test = map_col(df_test, 'i94prtl_city', 'i94port', 'port_city')
#df_test = df_test.withColumn("port_state_short", udf_state_short("port"))
df_test = map_col(df_test, 'i94prtl_state', 'i94port', 'port_state_short')
df_test = map_col(df_test, 'i94addrl', 'port_state_short', 'port_state')
#df_test = df_test.withColumn('port_state_2', udf_state_format('port_state'))

# country of entry, country of citizenship
df_test = map_col(df_test, 'i94cntyl', 'i94cit', 'state_cit')
df_test = map_col(df_test, 'i94cntyl', 'i94res', 'state_res')
#df_test = map_col(df_test, 'i94addrl', 'i94addr', 'port_state')
df_test = map_col(df_test, 'i94visa', 'i94visa', 'visa')
#df_test = df_test.withColumn("port_state", udf_state_format("port_state"))

In [125]:
df_test.where(F.col("i94port") == 'LOS').show()

+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+-----------+----------------+----------+--------------+--------------+--------+
|   cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|    admnum|fltno|visatype|arrival_date|depart_date|  port_city|port_state_short|port_state|     state_cit|     state_res|    visa|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+-----------+----------------+----------+--------------+--------------+--------+
|467106.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|   null|    41|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1975|07012016|     F|  null|     NZ|2147483647|00018|      WT|  2016-04-03|       null|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467150.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    72|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1944|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467151.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    70|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1946|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467152.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    69|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1947|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467153.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    63|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1953|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467154.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    62|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1954|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467155.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    61|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1955|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467156.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    61|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1955|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467157.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    60|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1956|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467158.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    59|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1957|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467159.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    59|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1957|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467160.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    56|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1960|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467161.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    37|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1979|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467162.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    37|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1979|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467163.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    36|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1980|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467164.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    33|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1983|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467165.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    30|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1986|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467166.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    30|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1986|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467167.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    29|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1987|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467168.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    26|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1990|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+-----------+----------------+----------+--------------+--------------+--------+
only showing top 20 rows

In [117]:
df_test.where(F.col("port_state").isNotNull()).show()

+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+--------------------+---------+----------------+----------+--------------+--------------+--------+
|   cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|    admnum|fltno|visatype|arrival_date|depart_date|                port|port_city|port_state_short|port_state|     state_cit|     state_res|    visa|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+--------------------+---------+----------------+----------+--------------+--------------+--------+
|459651.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20559|    54|      2|    1|20160403|    null| null|      O|      R|   null|      M|   1962|07012016|  null|  null|     VS|2147483647|00115|      WT|  2016-04-03| 2016-04-15|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459652.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20555|    74|      2|    1|20160403|    null| null|      T|      O|   null|      M|   1942|07012016|     F|  null|     VS| 674406485|  103|      WT|  2016-04-03| 2016-04-11|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459653.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20557|    44|      2|    1|20160403|    null| null|      T|      Q|   null|      M|   1972|10022016|     M|  null|     VS| 674948185|  109|      B2|  2016-04-03| 2016-04-13|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459654.0| 2016|     4|   135|   135|    ATL|  20547|      1|      G|  20555|    38|      2|    1|20160403|    null| null|      O|      O|   null|      M|   1978|07012016|  null|  null|     VS|2147483647|00103|      WT|  2016-04-03| 2016-04-11|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459655.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    64|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1952|07012016|     F|  null|     VS|2147483647|00103|      WT|  2016-04-03|       null|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459656.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    63|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1953|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03|       null|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459657.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    44|      1|    1|20160403|    null| null|      G|      I|   null|      M|   1972|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-04|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459658.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    39|      1|    1|20160403|    null| null|      G|      I|   null|      M|   1977|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-04|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459659.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20573|    84|      2|    1|20160403|    null| null|      G|      I|   null|      M|   1932|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-29|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459660.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20555|    55|      2|    1|20160403|    null| null|      G|      N|   null|      M|   1961|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-11|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459661.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20555|    54|      2|    1|20160403|    null| null|      G|      N|   null|      M|   1962|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-11|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459662.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    36|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1980|07012016|     M|  null|     DL|2147483647|00349|      WT|  2016-04-03| 2016-04-04|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459663.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20549|    71|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1945|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-05|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459664.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20549|    39|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1977|07012016|     M|  null|     VS|2147483647|00109|      WT|  2016-04-03| 2016-04-05|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459665.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    54|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1962|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459666.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    51|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1965|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459667.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    43|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1973|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459668.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    37|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1979|07012016|     F|  null|     DL|2147483647|00029|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459669.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    33|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1983|07012016|     F|  null|     VS|2147483647|00109|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459670.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    50|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1966|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+--------------------+---------+----------------+----------+--------------+--------------+--------+
only showing top 20 rows

Is arrdate ever null?

In [118]:
df_test.where(F.col("arrdate").isNull()).show()

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+-----------+----+---------+----------------+----------+---------+---------+----+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender|insnum|airline|admnum|fltno|visatype|arrival_date|depart_date|port|port_city|port_state_short|port_state|state_cit|state_res|visa|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+-----------+----+---------+----------------+----------+---------+---------+----+
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+-----------+----+---------+----------------+----------+---------+---------+----+

# merge with demographic data

In [213]:
#demographic = pd.read_csv(os.path.join(DATAFOLDER, 'us-cities-demographics.csv'), sep=';')

In [168]:
demographics = spark.read.format('csv').options(header='true', sep=';', inferSchema=True).\
    load(os.path.join(DATAFOLDER, 'us-cities-demographics.csv'))

match airport with demographic table

In [ ]:
# look up unique combinations of city and state in fact table
#

In [ ]:
# subset with unique combinations of city, state and 
# port_city, port_state, i94port (as key )

In [141]:
df_test.show(5)

+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+----------------+----------+--------------+--------------+--------+
|   cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|    admnum|fltno|visatype|arrival_date|depart_date|port_city|port_state_short|port_state|     state_cit|     state_res|    visa|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+----------------+----------+--------------+--------------+--------+
|459651.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20559|    54|      2|    1|20160403|    null| null|      O|      R|   null|      M|   1962|07012016|  null|  null|     VS|2147483647|00115|      WT|  2016-04-03| 2016-04-15|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459652.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20555|    74|      2|    1|20160403|    null| null|      T|      O|   null|      M|   1942|07012016|     F|  null|     VS| 674406485|  103|      WT|  2016-04-03| 2016-04-11|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459653.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20557|    44|      2|    1|20160403|    null| null|      T|      Q|   null|      M|   1972|10022016|     M|  null|     VS| 674948185|  109|      B2|  2016-04-03| 2016-04-13|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459654.0| 2016|     4|   135|   135|    ATL|  20547|      1|      G|  20555|    38|      2|    1|20160403|    null| null|      O|      O|   null|      M|   1978|07012016|  null|  null|     VS|2147483647|00103|      WT|  2016-04-03| 2016-04-11|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459655.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    64|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1952|07012016|     F|  null|     VS|2147483647|00103|      WT|  2016-04-03|       null|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+----------------+----------+--------------+--------------+--------+
only showing top 5 rows

In [226]:
def format_column_names(s):
    s = s.casefold()
    s = s.replace(' ', '_')
    s = s.replace('-', '_')
    return s

def rename_columns(df):
    old_names = df.schema.names
    new_names = [format_column_names(s) for s in old_names]
    df = reduce(lambda df, idx: 
                df.withColumnRenamed(old_names[idx], new_names[idx]), range(len(old_names)), df)
    return df

def create_demographic_table(df, demographics, outputfolder): 
    # select a subset of original table
    df_demo = df.select(['i94port']).dropDuplicates()
    # do the preprocessing, append columns
    df_demo = map_col(df_demo, 'i94prtl_city', 'i94port', 'port_city')
    #df_test = df_test.withColumn("port_state_short", udf_state_short("port"))
    df_demo = map_col(df_demo, 'i94prtl_state', 'i94port', 'port_state_short')
    df_demo = map_col(df_demo, 'i94addrl', 'port_state_short', 'port_state')
    # we are deleting the ones, for which no states were found, since we only focus on the US here
    # later expand world wide
    df_demo = df_demo.dropna(subset=['port_state'])
    df_demo = df_demo.join(demographics, (df_demo.port_city == demographics.City) & (df_demo.port_state_short == demographics['State Code']))
    columns_to_drop = ['port_city', 'port_state', 'port_state_short']
    df_demo = df_demo.drop(*columns_to_drop)
    
    # reformat column names
    df_demo = rename_columns(df_demo)
    df_demo.write.parquet(os.path.join(outputfolder, 'city_demographics.parquet'), 'overwrite')

In [227]:
df_demo = create_demographic_table(df_test, demographics, OUTPUTFOLDER)

In [217]:
old_names = df_demo.schema.names
new_names = [format_column_names(s) for s in old_names]

In [218]:
df = reduce(lambda df_demo, idx: df_demo.withColumnRenamed(old_names[idx], new_names[idx]), range(len(old_names)), df_demo)

In [225]:
df_demo.show()

+-------+-----------+----------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-------+
|i94port|       city|     state|median_age|male_population|female_population|total_population|number_of_veterans|foreign_born|average_household_size|state_code|                race|  count|
+-------+-----------+----------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-------+
|    FMY| Fort Myers|   Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|  Hispanic or Latino|  17866|
|    FMY| Fort Myers|   Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|Black or African-...|  17298|
|    FMY| Fort Myers|   Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White|  50169|
|    FMY| Fort Myers|   Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               Asian|   3519|
|    SNA|San Antonio|     Texas|      33.1|         721405|           748419|         1469824|            109089|      208046|                  2.93|        TX|Black or African-...| 119542|
|    SNA|San Antonio|     Texas|      33.1|         721405|           748419|         1469824|            109089|      208046|                  2.93|        TX|               White|1240092|
|    SNA|San Antonio|     Texas|      33.1|         721405|           748419|         1469824|            109089|      208046|                  2.93|        TX|  Hispanic or Latino| 937607|
|    SNA|San Antonio|     Texas|      33.1|         721405|           748419|         1469824|            109089|      208046|                  2.93|        TX|American Indian a...|  20752|
|    SNA|San Antonio|     Texas|      33.1|         721405|           748419|         1469824|            109089|      208046|                  2.93|        TX|               Asian|  53933|
|    OAK|    Oakland|California|      35.7|         203827|           215451|          419278|             12159|      113896|                  2.56|        CA|               Asian|  75446|
|    OAK|    Oakland|California|      35.7|         203827|           215451|          419278|             12159|      113896|                  2.56|        CA|American Indian a...|   8380|
|    OAK|    Oakland|California|      35.7|         203827|           215451|          419278|             12159|      113896|                  2.56|        CA|  Hispanic or Latino| 114054|
|    OAK|    Oakland|California|      35.7|         203827|           215451|          419278|             12159|      113896|                  2.56|        CA|Black or African-...| 118228|
|    OAK|    Oakland|California|      35.7|         203827|           215451|          419278|             12159|      113896|                  2.56|        CA|               White| 171599|
|    DET|    Detroit|  Michigan|      34.8|         319265|           357859|          677124|             29511|       39861|                   2.6|        MI|Black or African-...| 545988|
|    DET|    Detroit|  Michigan|      34.8|         319265|           357859|          677124|             29511|       39861|                   2.6|        MI|               White| 104260|
|    DET|    Detroit|  Michigan|      34.8|         319265|           357859|          677124|             29511|       39861|                   2.6|        MI|American Indian a...|   6007|
|    DET|    Detroit|  Michigan|      34.8|         319265|           357859|          677124|             29511|       39861|                   2.6|        MI|               Asian|  10804|
|    DET|    Detroit|  Michigan|      34.8|         319265|           357859|          677124|             29511|       39861|                   2.6|        MI|  Hispanic or Latino|  53980|
|    NSV|  Nashville| Tennessee|      34.1|         314231|           340365|          654596|             27942|       88193|                  2.39|        TN|American Indian a...|   5474|
+-------+-----------+----------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-------+
only showing top 20 rows

In [207]:

new_names

['i94port',
 'port_state_short',
 'city',
 'state',
 'median_age',
 'male_population',
 'female_population',
 'total_population',
 'number_of_veterans',
 'foreign-born',
 'average_household_size',
 'state_code',
 'race',
 'count']

In [179]:
df_demo = df_demo.drop(*columns_to_drop)

In [186]:
df_demo.show(3)

+-------+----------------+----------+-------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
|i94port|port_state_short|      City|  State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race|Count|
+-------+----------------+----------+-------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
|    FMY|              FL|Fort Myers|Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|  Hispanic or Latino|17866|
|    FMY|              FL|Fort Myers|Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|Black or African-...|17298|
|    FMY|              FL|Fort Myers|Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White|50169|
+-------+----------------+----------+-------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
only showing top 3 rows

In [189]:
s = 'Male Population'

'male_population'

# create single tables for everything

## country table