In [209]:
import os
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
from itertools import chain
from pyspark.sql.functions import udf
from functools import reduce

In [183]:
DATAFOLDER = '/Users/christian/Data/udacity_capstone/'
OUTPUTFOLDER = '/Users/christian/Data/udacity_capstone/output'

In [184]:
def get_immi_schema():
    """
    Map the column names to datatypes and return as a schema.
    """
    immi_schema = T.StructType([
        T.StructField('cicid', T.IntegerType()),
        T.StructField('i94yr', T.StringType()),
        T.StructField('i94mon', T.StringType()),
        T.StructField('i94cit', T.StringType()),
        T.StructField('i94res', T.IntegerType()),
        T.StructField('i94port', T.StringType()),
        T.StructField('arrdate', T.StringType()),
        T.StructField('i94mode', T.StringType()),
        T.StructField('i94addr', T.StringType()),
        T.StructField('depdate', T.StringType()),
        T.StructField('i94bir', T.StringType()),
        T.StructField('i94visa', T.StringType()),
        T.StructField('count',  T.IntegerType()),
        T.StructField('dtadfile', T.StringType()),
        T.StructField('visapost', T.IntegerType()),
        T.StructField('occup', T.StringType()),
        T.StructField('entdepa', T.StringType()),
        T.StructField('entdepd', T.IntegerType()),
        T.StructField('entdepu', T.StringType()),
        T.StructField('matflag', T.StringType()),
        T.StructField('biryear', T.StringType()),
        T.StructField('dtaddto', T.StringType()),
        T.StructField('gender', T.StringType()),
        T.StructField('insnum', T.StringType()),
        T.StructField('airline', T.StringType()),
        T.StructField('admnum', T.StringType()),
        T.StructField('fltno', T.StringType()),
        T.StructField('visatype', T.StringType()),
    ])
    return immi_schema

In [4]:
schema = get_immi_schema()

In [5]:

spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
#df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
df_spark = spark.read.option("mergeSchema", "true").parquet(os.path.join(DATAFOLDER, 'sas_data'))

# convert data types

In [6]:
df_spark = df_spark.withColumn('i94yr', df_spark['i94yr'].cast(T.IntegerType())).\
        withColumn('i94mon', df_spark['i94mon'].cast(T.IntegerType())).\
        withColumn('i94cit', df_spark['i94cit'].cast(T.IntegerType())).\
        withColumn('i94res', df_spark['i94res'].cast(T.IntegerType())).\
        withColumn('arrdate', df_spark['arrdate'].cast(T.IntegerType())).\
        withColumn('i94mode', df_spark['i94mode'].cast(T.IntegerType())).\
        withColumn('depdate', df_spark['depdate'].cast(T.IntegerType())).\
        withColumn('i94bir', df_spark['i94bir'].cast(T.IntegerType())).\
        withColumn('i94visa', df_spark['i94visa'].cast(T.IntegerType())).\
        withColumn('count', df_spark['count'].cast(T.IntegerType())).\
        withColumn('biryear', df_spark['biryear'].cast(T.IntegerType())).\
        withColumn('admnum', df_spark['admnum'].cast(T.IntegerType()))

In [13]:
df_sample = pd.read_csv(os.path.join(DATAFOLDER, 'immigration_data_sample.csv'))

In [14]:
df_spark.head()

Row(cicid=459651.0, i94yr=2016, i94mon=4, i94cit=135, i94res=135, i94port='ATL', arrdate=20547, i94mode=1, i94addr='FL', depdate=20559, i94bir=54, i94visa=2, count=1, dtadfile='20160403', visapost=None, occup=None, entdepa='O', entdepd='R', entdepu=None, matflag='M', biryear=1962, dtaddto='07012016', gender=None, insnum=None, airline='VS', admnum=2147483647, fltno='00115', visatype='WT')

In [77]:
df_time = df_spark
df_time = df_time.withColumn("arrival_date", F.expr("date_add(to_date('1960-01-01'), arrdate)"))
df_time = df_time.withColumn("depart_date", F.expr("date_add(to_date('1960-01-01'), depdate)"))

In [80]:
df_time.withColumn("diff_days", F.datediff("depart_date", "arrival_date")).show()

+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+
|   cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|    admnum|fltno|visatype|arrival_date|depart_date|diff_days|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+
|459651.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20559|    54|      2|    1|20160403|    null| null|      O|      R|   null|      M|   1962|07012016|  null|  null|     VS|2147483647|00115|      WT|  2016-04-03| 2016-04-15|       12|
|459652.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20555|    74|      2|    1|20160403|    null| null|      T|      O|   null|      M|   1942|07012016|     F|  null|     VS| 674406485|  103|      WT|  2016-04-03| 2016-04-11|        8|
|459653.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20557|    44|      2|    1|20160403|    null| null|      T|      Q|   null|      M|   1972|10022016|     M|  null|     VS| 674948185|  109|      B2|  2016-04-03| 2016-04-13|       10|
|459654.0| 2016|     4|   135|   135|    ATL|  20547|      1|      G|  20555|    38|      2|    1|20160403|    null| null|      O|      O|   null|      M|   1978|07012016|  null|  null|     VS|2147483647|00103|      WT|  2016-04-03| 2016-04-11|        8|
|459655.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    64|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1952|07012016|     F|  null|     VS|2147483647|00103|      WT|  2016-04-03|       null|     null|
|459656.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    63|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1953|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03|       null|     null|
|459657.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    44|      1|    1|20160403|    null| null|      G|      I|   null|      M|   1972|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-04|        1|
|459658.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    39|      1|    1|20160403|    null| null|      G|      I|   null|      M|   1977|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-04|        1|
|459659.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20573|    84|      2|    1|20160403|    null| null|      G|      I|   null|      M|   1932|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-29|       26|
|459660.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20555|    55|      2|    1|20160403|    null| null|      G|      N|   null|      M|   1961|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-11|        8|
|459661.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20555|    54|      2|    1|20160403|    null| null|      G|      N|   null|      M|   1962|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-11|        8|
|459662.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    36|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1980|07012016|     M|  null|     DL|2147483647|00349|      WT|  2016-04-03| 2016-04-04|        1|
|459663.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20549|    71|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1945|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-05|        2|
|459664.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20549|    39|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1977|07012016|     M|  null|     VS|2147483647|00109|      WT|  2016-04-03| 2016-04-05|        2|
|459665.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    54|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1962|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-06|        3|
|459666.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    51|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1965|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-06|        3|
|459667.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    43|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1973|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-06|        3|
|459668.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    37|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1979|07012016|     F|  null|     DL|2147483647|00029|      WB|  2016-04-03| 2016-04-06|        3|
|459669.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    33|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1983|07012016|     F|  null|     VS|2147483647|00109|      WB|  2016-04-03| 2016-04-06|        3|
|459670.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    50|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1966|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-06|        3|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+
only showing top 20 rows

## map i94addrl - state

In [109]:

def map_col(df, map_col_name, df_col_name, new_col_name):
    """
    
    Parameters
    ----------
    df : spark dataframe
        The file containing the df_col_name to be used for mapping.
    map_col_name : str
        The column name of the mapping file.
    df_col_name : str
        The column name in the Spark dataframe to be used.
    new_col_name : str
        New column name of the mapping results.
    
    
    """
    df_map = pd.read_csv(os.path.join(DATAFOLDER, f'{map_col_name}.csv'), quotechar="'")
    dic_map = dict(zip(df_map['value'], df_map[map_col_name]))
    mapping_expr = F.create_map([F.lit(x) for x in chain(*dic_map.items())])
    return df.withColumn(new_col_name, mapping_expr[F.col(df_col_name)])



@udf
def udf_city_name(city_full):
    splt = str.split(city_full, ',')
    if len(splt) == 0:
        return ''
    return splt[0].capitalize().strip()

@udf
def udf_state_short(city_full):
    splt = str.split(city_full, ',')
    if len(splt) < 2:
        return ''
    return splt[1].strip()

@udf
def udf_state_format(port_state):
    return port_state.capitalize()

In [110]:
df_test.select("i94addr").distinct().show(10)

+-------+
|i94addr|
+-------+
|     CI|
|     FT|
|     SC|
|     AZ|
|     PU|
|     UA|
|     EA|
|     NS|
|     KI|
|     PI|
+-------+
only showing top 10 rows

# TODO replace mapping in i94addrl to have names in captialize!

In [124]:
#df, map_col_name, df_col_name, new_col_name
df_test = df_time
#df_test = map_col(df_test, 'i94prtl', 'i94port', 'port')

# city name of arrival port
#df_test = df_test.withColumn("port_city", udf_city_name("port"))
df_test = map_col(df_test, 'i94prtl_city', 'i94port', 'port_city')
#df_test = df_test.withColumn("port_state_short", udf_state_short("port"))
df_test = map_col(df_test, 'i94prtl_state', 'i94port', 'port_state_short')
df_test = map_col(df_test, 'i94addrl', 'port_state_short', 'port_state')
#df_test = df_test.withColumn('port_state_2', udf_state_format('port_state'))

# country of entry, country of citizenship
df_test = map_col(df_test, 'i94cntyl', 'i94cit', 'state_cit')
df_test = map_col(df_test, 'i94cntyl', 'i94res', 'state_res')
#df_test = map_col(df_test, 'i94addrl', 'i94addr', 'port_state')
df_test = map_col(df_test, 'i94visa', 'i94visa', 'visa')
#df_test = df_test.withColumn("port_state", udf_state_format("port_state"))

In [125]:
df_test.where(F.col("i94port") == 'LOS').show()

+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+-----------+----------------+----------+--------------+--------------+--------+
|   cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|    admnum|fltno|visatype|arrival_date|depart_date|  port_city|port_state_short|port_state|     state_cit|     state_res|    visa|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+-----------+----------------+----------+--------------+--------------+--------+
|467106.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|   null|    41|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1975|07012016|     F|  null|     NZ|2147483647|00018|      WT|  2016-04-03|       null|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467150.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    72|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1944|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467151.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    70|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1946|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467152.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    69|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1947|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467153.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    63|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1953|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467154.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    62|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1954|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467155.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    61|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1955|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467156.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    61|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1955|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467157.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    60|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1956|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467158.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    59|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1957|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467159.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    59|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1957|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467160.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    56|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1960|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467161.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    37|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1979|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467162.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    37|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1979|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467163.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    36|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1980|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467164.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    33|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1983|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467165.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    30|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1986|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467166.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    30|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1986|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467167.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    29|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1987|07012016|     F|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
|467168.0| 2016|     4|   135|   135|    LOS|  20547|      1|   null|  20548|    26|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1990|07012016|     M|  null|     NZ|2147483647|00001|      WT|  2016-04-03| 2016-04-04|Los Angeles|              CA|California|United Kingdom|United Kingdom|Pleasure|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+-----------+----------------+----------+--------------+--------------+--------+
only showing top 20 rows

In [117]:
df_test.where(F.col("port_state").isNotNull()).show()

+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+--------------------+---------+----------------+----------+--------------+--------------+--------+
|   cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|    admnum|fltno|visatype|arrival_date|depart_date|                port|port_city|port_state_short|port_state|     state_cit|     state_res|    visa|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+--------------------+---------+----------------+----------+--------------+--------------+--------+
|459651.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20559|    54|      2|    1|20160403|    null| null|      O|      R|   null|      M|   1962|07012016|  null|  null|     VS|2147483647|00115|      WT|  2016-04-03| 2016-04-15|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459652.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20555|    74|      2|    1|20160403|    null| null|      T|      O|   null|      M|   1942|07012016|     F|  null|     VS| 674406485|  103|      WT|  2016-04-03| 2016-04-11|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459653.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20557|    44|      2|    1|20160403|    null| null|      T|      Q|   null|      M|   1972|10022016|     M|  null|     VS| 674948185|  109|      B2|  2016-04-03| 2016-04-13|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459654.0| 2016|     4|   135|   135|    ATL|  20547|      1|      G|  20555|    38|      2|    1|20160403|    null| null|      O|      O|   null|      M|   1978|07012016|  null|  null|     VS|2147483647|00103|      WT|  2016-04-03| 2016-04-11|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459655.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    64|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1952|07012016|     F|  null|     VS|2147483647|00103|      WT|  2016-04-03|       null|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459656.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    63|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1953|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03|       null|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459657.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    44|      1|    1|20160403|    null| null|      G|      I|   null|      M|   1972|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-04|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459658.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    39|      1|    1|20160403|    null| null|      G|      I|   null|      M|   1977|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-04|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459659.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20573|    84|      2|    1|20160403|    null| null|      G|      I|   null|      M|   1932|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-29|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459660.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20555|    55|      2|    1|20160403|    null| null|      G|      N|   null|      M|   1961|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-11|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459661.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20555|    54|      2|    1|20160403|    null| null|      G|      N|   null|      M|   1962|07012016|     M|  null|     BA|2147483647|00227|      WT|  2016-04-03| 2016-04-11|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459662.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20548|    36|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1980|07012016|     M|  null|     DL|2147483647|00349|      WT|  2016-04-03| 2016-04-04|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459663.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20549|    71|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1945|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-05|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459664.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20549|    39|      2|    1|20160403|    null| null|      G|      O|   null|      M|   1977|07012016|     M|  null|     VS|2147483647|00109|      WT|  2016-04-03| 2016-04-05|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459665.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    54|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1962|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459666.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    51|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1965|07012016|     M|  null|     BA|2147483647|00227|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459667.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    43|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1973|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459668.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    37|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1979|07012016|     F|  null|     DL|2147483647|00029|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459669.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    33|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1983|07012016|     F|  null|     VS|2147483647|00109|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
|459670.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|  20550|    50|      1|    1|20160403|    null| null|      G|      O|   null|      M|   1966|07012016|     M|  null|     DL|2147483647|00031|      WB|  2016-04-03| 2016-04-06|ATLANTA, GA      ...|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Business|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+--------------------+---------+----------------+----------+--------------+--------------+--------+
only showing top 20 rows

Is arrdate ever null?

In [118]:
df_test.where(F.col("arrdate").isNull()).show()

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+-----------+----+---------+----------------+----------+---------+---------+----+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender|insnum|airline|admnum|fltno|visatype|arrival_date|depart_date|port|port_city|port_state_short|port_state|state_cit|state_res|visa|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+-----------+----+---------+----------------+----------+---------+---------+----+
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+------------+-----------+----+---------+----------------+----------+---------+---------+----+

# merge with demographic data

In [213]:
#demographic = pd.read_csv(os.path.join(DATAFOLDER, 'us-cities-demographics.csv'), sep=';')

In [168]:
demographics = spark.read.format('csv').options(header='true', sep=';', inferSchema=True).\
    load(os.path.join(DATAFOLDER, 'us-cities-demographics.csv'))

match airport with demographic table

In [ ]:
# look up unique combinations of city and state in fact table
#

In [ ]:
# subset with unique combinations of city, state and 
# port_city, port_state, i94port (as key )

In [141]:
df_test.show(5)

+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+----------------+----------+--------------+--------------+--------+
|   cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|    admnum|fltno|visatype|arrival_date|depart_date|port_city|port_state_short|port_state|     state_cit|     state_res|    visa|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+----------------+----------+--------------+--------------+--------+
|459651.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20559|    54|      2|    1|20160403|    null| null|      O|      R|   null|      M|   1962|07012016|  null|  null|     VS|2147483647|00115|      WT|  2016-04-03| 2016-04-15|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459652.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20555|    74|      2|    1|20160403|    null| null|      T|      O|   null|      M|   1942|07012016|     F|  null|     VS| 674406485|  103|      WT|  2016-04-03| 2016-04-11|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459653.0| 2016|     4|   135|   135|    ATL|  20547|      1|     FL|  20557|    44|      2|    1|20160403|    null| null|      T|      Q|   null|      M|   1972|10022016|     M|  null|     VS| 674948185|  109|      B2|  2016-04-03| 2016-04-13|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459654.0| 2016|     4|   135|   135|    ATL|  20547|      1|      G|  20555|    38|      2|    1|20160403|    null| null|      O|      O|   null|      M|   1978|07012016|  null|  null|     VS|2147483647|00103|      WT|  2016-04-03| 2016-04-11|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
|459655.0| 2016|     4|   135|   135|    ATL|  20547|      1|     GA|   null|    64|      2|    1|20160403|    null| null|      G|   null|   null|   null|   1952|07012016|     F|  null|     VS|2147483647|00103|      WT|  2016-04-03|       null|  Atlanta|              GA|   Georgia|United Kingdom|United Kingdom|Pleasure|
+--------+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+----------+-----+--------+------------+-----------+---------+----------------+----------+--------------+--------------+--------+
only showing top 5 rows

In [229]:
def format_column_names(s):
    s = s.casefold()
    s = s.replace(' ', '_')
    s = s.replace('-', '_')
    return s

def rename_columns(df):
    old_names = df.schema.names
    new_names = [format_column_names(s) for s in old_names]
    df = reduce(lambda df, idx: 
                df.withColumnRenamed(old_names[idx], new_names[idx]), range(len(old_names)), df)
    return df

def create_demographic_table(df, demographics, outputfolder): 
    # select a subset of original table
    df_demo = df.select(['i94port']).dropDuplicates()
    # do the preprocessing, append columns
    df_demo = map_col(df_demo, 'i94prtl_city', 'i94port', 'port_city')
    #df_test = df_test.withColumn("port_state_short", udf_state_short("port"))
    df_demo = map_col(df_demo, 'i94prtl_state', 'i94port', 'port_state_short')
    df_demo = map_col(df_demo, 'i94addrl', 'port_state_short', 'port_state')
    # we are deleting the ones, for which no states were found, since we only focus on the US here
    # later expand world wide
    df_demo = df_demo.dropna(subset=['port_state'])
    df_demo = df_demo.join(demographics, (df_demo.port_city == demographics.City) & (df_demo.port_state_short == demographics['State Code']))
    columns_to_drop = ['port_city', 'port_state', 'port_state_short']
    df_demo = df_demo.drop(*columns_to_drop)
    
    # reformat column names
    df_demo = rename_columns(df_demo)
    df_demo.write.parquet(os.path.join(outputfolder, 'city_demographics.parquet'), 'overwrite')
    return df_demo

In [230]:
df_demo = create_demographic_table(df_test, demographics, OUTPUTFOLDER)

# create single tables for everything

## country table

In [379]:
def spark_read_csv(folder, filename, **kwargs):

    return spark.read.format('csv').options(header='true', inferSchema=True, **kwargs).\
        load(os.path.join(folder, filename))

def csv_to_parquet(datafolder, outputfolder, csv_name, table_name): 
    df = spark_read_csv(datafolder, f'{csv_name}.csv', sep=',', quotechar="'")
    df = df.withColumnRenamed('value', 'id')
    df.write.parquet(os.path.join(outputfolder, f'{table_name}.parquet'), 'overwrite')
    return df

In [380]:
cntyl = csv_to_parquet(DATAFOLDER, OUTPUTFOLDER, 'i94cntyl', 'country')

# model table i94model

In [381]:
transport = csv_to_parquet(DATAFOLDER, OUTPUTFOLDER, 'i94model', 'transport')

In [382]:
transport.show()

+---+--------------+
| id|      i94model|
+---+--------------+
|  1|         'Air'|
|  2|         'Sea'|
|  3|        'Land'|
|  9|'Not reported'|
+---+--------------+

# visa table i94visa

In [383]:
visa = csv_to_parquet(DATAFOLDER, OUTPUTFOLDER, 'i94visa', 'visa')

In [384]:
visa.show()

+---+--------+
| id| i94visa|
+---+--------+
|  1|Business|
|  2|Pleasure|
|  3| Student|
+---+--------+

## global annual

In [ ]:
#TODO
# also aggregate by year
folder = os.path.join(DATAFOLDER, 'climate-change-earth-surface-temperature-data')
global_annual = csv_to_parquet(folder, OUTPUTFOLDER, 'GlobalTemperatures', 'visa')

# Time Table

In [342]:
def create_full_time_table(outputfolder):
    days_before_
    days_till_2060 = range(int(100 * 365.25))
    all_dates = [(t,) for t in days_till_2060]
    
    t_schema = T.StructType([T.StructField('i94_date', T.IntegerType())])
    timeframe = spark.createDataFrame(all_dates, t_schema)
    timeframe = timeframe.withColumn("dt_date", F.expr("date_add(to_date('1960-01-01'), i94_date)"))
    timeframe = timeframe.select('i94_date', 'dt_date',
                    F.year('dt_date').alias('year'),
                    F.month('dt_date').alias('month'),
                    F.dayofmonth('dt_date').alias('day'),
                    F.dayofweek('dt_date').alias('weekday'))
    
    timeframe.write.partitionBy('year', 'month').parquet(os.path.join(outputfolder, 'dates.parquet'), 'overwrite')
    return timeframe

In [346]:
timeframe = create_full_time_table(OUTPUTFOLDER)

# Climate data

In [ ]:
# TODO apply rolling window function on average of last 10 years

In [359]:
folder = os.path.join(DATAFOLDER, 'climate-change-earth-surface-temperature-data')
filename = 'GlobalLandTemperaturesByCountry.csv'

In [428]:
climate = spark_read_csv(folder, filename, sep=',')

## convert timestamp to date
already done

In [419]:
climate.dtypes

[('dt', 'timestamp'),
 ('AverageTemperature', 'double'),
 ('AverageTemperatureUncertainty', 'double'),
 ('Country', 'string')]

In [429]:
climate = climate.withColumn('dt', F.to_date(F.col('dt')))

merge with country id from country table

In [440]:
climate.agg({"dt": "min"}).collect()[0][0]

datetime.date(1743, 11, 1)

In [439]:
climate.agg({"dt": "max"}).collect()[0][0]

datetime.date(2013, 9, 1)

In [430]:
country = spark.read.option("mergeSchema", "true").parquet(os.path.join(OUTPUTFOLDER, 'country.parquet'))

In [432]:
climate = climate.join(country, on=country['i94cntyl'] == climate['Country'], how='leftouter')

In [437]:
climate = climate.drop('i94cntyl')

In [475]:
def generate_climate_country(folder, filename, outputfolder):
    climate = spark_read_csv(folder, filename, sep=',')
    climate = climate.withColumn('dt', F.to_date(F.col('dt')))
    country = spark.read.option("mergeSchema", "true").parquet(os.path.join(outputfolder, 'country.parquet'))
    climate = climate.join(country, on=country['i94cntyl'] == climate['Country'], how='leftouter')
    climate = climate.drop('i94cntyl')
    climate = rename_columns(climate)
    climate = climate.withColumn('year', F.year('dt').alias('year'))
    climate = climate.withColumnRenamed('id', 'country_id').\
        withColumnRenamed('averagetemperatureuncertainty', 'avg_uncertainty').\
        withColumnRenamed('averagetemperature', 'avg_temperature')
    climate.write.partitionBy('year', 'country').parquet(os.path.join(outputfolder, 'climate_country.parquet'), 'overwrite')
    return climate

In [484]:
folder = os.path.join(DATAFOLDER, 'climate-change-earth-surface-temperature-data')
filename = 'GlobalLandTemperaturesByCountry.csv'
climate_country = generate_climate_country(folder, filename, OUTPUTFOLDER)

In [474]:
climate_country = climate_country.withColumnRenamed('id', 'country_id').\
    withColumnRenamed('averagetemperatureuncertainty', 'avg_uncertainty')

## aggregate annual average temperature

In [442]:
annual = climate.withColumn('year', F.year('dt').alias('year'))

In [480]:
climate_country.groupby([F.col('country'), F.col('country_id'), F.col('year')]).agg(F.avg('averagetemperature').alias('avg_temperature')).show()

+----------+----------+----+------------------+
|   country|country_id|year|   avg_temperature|
+----------+----------+----+------------------+
|   Albania|       101|1838|11.598333333333334|
|   Algeria|       316|1918|          22.41125|
|   Andorra|       102|1855|10.281666666666666|
|   Andorra|       102|1903|10.768500000000001|
|   Andorra|       102|1933|11.168999999999999|
|  Anguilla|       529|1862|          26.02125|
|  Anguilla|       529|1924|26.494000000000003|
|  Anguilla|       529|1969|27.049250000000004|
|   Armenia|       151|1858|7.9815000000000005|
|   Armenia|       151|1926| 8.654083333333332|
|   Armenia|       151|1995| 9.892166666666668|
|     Aruba|       532|1937|28.008666666666667|
|Azerbaijan|       152|1852|            10.991|
|Azerbaijan|       152|1856|10.825583333333334|
|   Bahrain|       298|1848|25.192666666666668|
|  Barbados|       513|1962|            26.849|
|   Belarus|       153|1998| 6.528333333333333|
|    Bhutan|       242|1871|11.630416666666667|
|    Bhutan|       242|1907|11.554749999999999|
|    Bhutan|       242|1929|          11.64875|
+----------+----------+----+------------------+
only showing top 20 rows

In [465]:
annual = spark.read.option("mergeSchema", "true").parquet(os.path.join(OUTPUTFOLDER, 'climate_country.parquet'))

In [485]:
def create_annual_temp_table(outputfolder):
    annual = spark.read.option("mergeSchema", "true").parquet(os.path.join(OUTPUTFOLDER, 'climate_country.parquet'))
    annual.groupby([F.col('country'), F.col('country_id'), F.col('year')]).agg(F.avg('avg_temperature').alias('avg_temperature'))
    annual.write.partitionBy('country').parquet(os.path.join(outputfolder, 'annual_climate_country.parquet'), 'overwrite')
    return annual

In [463]:
annual = spark.read.option("mergeSchema", "true").parquet(os.path.join(OUTPUTFOLDER, 'climate_country.parquet'))
annual.groupby([F.col('country'), F.col('country_id'), F.col('year')]).agg(F.avg('averagetemperature').alias('avg_temperature'))

AnalysisException: "cannot resolve '`country_id`' given input columns: [Country, id, averagetemperatureuncertainty, year, dt, averagetemperature];;\n'Aggregate [country#15911, 'country_id, year#15910], [country#15911, 'country_id, year#15910, avg(AverageTemperature#15907) AS avg(AverageTemperature)#15925]\n+- Relation[dt#15906,averagetemperature#15907,averagetemperatureuncertainty#15908,id#15909,year#15910,Country#15911] parquet\n"

In [ ]:
#todo when storing partition by country and year

# Global Temperatures

# Asylum Report

In [ ]:
# https://www.kaggle.com/dhs/refugee-report

# Fact Table

- Calculate length of stay

In [304]:
df_test.head()

Row(cicid=459651.0, i94yr=2016, i94mon=4, i94cit=135, i94res=135, i94port='ATL', arrdate=20547, i94mode=1, i94addr='FL', depdate=20559, i94bir=54, i94visa=2, count=1, dtadfile='20160403', visapost=None, occup=None, entdepa='O', entdepd='R', entdepu=None, matflag='M', biryear=1962, dtaddto='07012016', gender=None, insnum=None, airline='VS', admnum=2147483647, fltno='00115', visatype='WT', arrival_date=datetime.date(2016, 4, 3), depart_date=datetime.date(2016, 4, 15), port_city='Atlanta', port_state_short='GA', port_state='Georgia', state_cit='United Kingdom', state_res='United Kingdom', visa='Pleasure')

In [311]:
timeframe.filter("i94_date = 20573").select('dt_date').show()

+----------+
|   dt_date|
+----------+
|2016-04-29|
|2016-04-29|
+----------+

In [405]:
df_fact = df_test.withColumn("arrival_dt", F.expr("date_add(to_date('1960-01-01'), arrdate)"))
df_fact = df_fact.withColumn("depart_dt", F.expr("date_add(to_date('1960-01-01'), depdate)"))

In [406]:
keep_columns = ['cicid', 'i94yr', 'i94mon', 'arrival_dt', 'arrdate', 'depdate', 'i94cit', 'i94res', 'i94port', 'i94mode', 'i94addr', 'i94bir',
               'i94visa', 'visatype', 'biryear', 'gender', 'airline', 'fltno', 'length_stay']

#maybe = ['entdepa', 'entdepd', 'matflag']

In [407]:
df_fact = df_fact.withColumn("length_stay", F.datediff("depart_date", "arrival_date"))

In [408]:
df_fact.select(keep_columns).show()

+--------+-----+------+----------+-------+-------+------+------+-------+-------+-------+------+-------+--------+-------+------+-------+-----+-----------+
|   cicid|i94yr|i94mon|arrival_dt|arrdate|depdate|i94cit|i94res|i94port|i94mode|i94addr|i94bir|i94visa|visatype|biryear|gender|airline|fltno|length_stay|
+--------+-----+------+----------+-------+-------+------+------+-------+-------+-------+------+-------+--------+-------+------+-------+-----+-----------+
|459651.0| 2016|     4|2016-04-03|  20547|  20559|   135|   135|    ATL|      1|     FL|    54|      2|      WT|   1962|  null|     VS|00115|         12|
|459652.0| 2016|     4|2016-04-03|  20547|  20555|   135|   135|    ATL|      1|     FL|    74|      2|      WT|   1942|     F|     VS|  103|          8|
|459653.0| 2016|     4|2016-04-03|  20547|  20557|   135|   135|    ATL|      1|     FL|    44|      2|      B2|   1972|     M|     VS|  109|         10|
|459654.0| 2016|     4|2016-04-03|  20547|  20555|   135|   135|    ATL|      1|      G|    38|      2|      WT|   1978|  null|     VS|00103|          8|
|459655.0| 2016|     4|2016-04-03|  20547|   null|   135|   135|    ATL|      1|     GA|    64|      2|      WT|   1952|     F|     VS|00103|       null|
|459656.0| 2016|     4|2016-04-03|  20547|   null|   135|   135|    ATL|      1|     GA|    63|      2|      WT|   1953|     M|     BA|00227|       null|
|459657.0| 2016|     4|2016-04-03|  20547|  20548|   135|   135|    ATL|      1|     GA|    44|      1|      WB|   1972|     M|     BA|00227|          1|
|459658.0| 2016|     4|2016-04-03|  20547|  20548|   135|   135|    ATL|      1|     GA|    39|      1|      WB|   1977|     M|     BA|00227|          1|
|459659.0| 2016|     4|2016-04-03|  20547|  20573|   135|   135|    ATL|      1|     GA|    84|      2|      WT|   1932|     M|     BA|00227|         26|
|459660.0| 2016|     4|2016-04-03|  20547|  20555|   135|   135|    ATL|      1|     GA|    55|      2|      WT|   1961|     M|     BA|00227|          8|
|459661.0| 2016|     4|2016-04-03|  20547|  20555|   135|   135|    ATL|      1|     GA|    54|      2|      WT|   1962|     M|     BA|00227|          8|
|459662.0| 2016|     4|2016-04-03|  20547|  20548|   135|   135|    ATL|      1|     GA|    36|      2|      WT|   1980|     M|     DL|00349|          1|
|459663.0| 2016|     4|2016-04-03|  20547|  20549|   135|   135|    ATL|      1|     GA|    71|      1|      WB|   1945|     M|     DL|00031|          2|
|459664.0| 2016|     4|2016-04-03|  20547|  20549|   135|   135|    ATL|      1|     GA|    39|      2|      WT|   1977|     M|     VS|00109|          2|
|459665.0| 2016|     4|2016-04-03|  20547|  20550|   135|   135|    ATL|      1|     GA|    54|      1|      WB|   1962|     M|     BA|00227|          3|
|459666.0| 2016|     4|2016-04-03|  20547|  20550|   135|   135|    ATL|      1|     GA|    51|      1|      WB|   1965|     M|     BA|00227|          3|
|459667.0| 2016|     4|2016-04-03|  20547|  20550|   135|   135|    ATL|      1|     GA|    43|      1|      WB|   1973|     M|     DL|00031|          3|
|459668.0| 2016|     4|2016-04-03|  20547|  20550|   135|   135|    ATL|      1|     GA|    37|      1|      WB|   1979|     F|     DL|00029|          3|
|459669.0| 2016|     4|2016-04-03|  20547|  20550|   135|   135|    ATL|      1|     GA|    33|      1|      WB|   1983|     F|     VS|00109|          3|
|459670.0| 2016|     4|2016-04-03|  20547|  20550|   135|   135|    ATL|      1|     GA|    50|      1|      WB|   1966|     M|     DL|00031|          3|
+--------+-----+------+----------+-------+-------+------+------+-------+-------+-------+------+-------+--------+-------+------+-------+-----+-----------+
only showing top 20 rows

In [413]:
df_fact.dtypes

[('cicid', 'double'),
 ('i94yr', 'int'),
 ('i94mon', 'int'),
 ('i94cit', 'int'),
 ('i94res', 'int'),
 ('i94port', 'string'),
 ('arrdate', 'int'),
 ('i94mode', 'int'),
 ('i94addr', 'string'),
 ('depdate', 'int'),
 ('i94bir', 'int'),
 ('i94visa', 'int'),
 ('count', 'int'),
 ('dtadfile', 'string'),
 ('visapost', 'string'),
 ('occup', 'string'),
 ('entdepa', 'string'),
 ('entdepd', 'string'),
 ('entdepu', 'string'),
 ('matflag', 'string'),
 ('biryear', 'int'),
 ('dtaddto', 'string'),
 ('gender', 'string'),
 ('insnum', 'string'),
 ('airline', 'string'),
 ('admnum', 'int'),
 ('fltno', 'string'),
 ('visatype', 'string'),
 ('arrival_date', 'date'),
 ('depart_date', 'date'),
 ('port_city', 'string'),
 ('port_state_short', 'string'),
 ('port_state', 'string'),
 ('state_cit', 'string'),
 ('state_res', 'string'),
 ('visa', 'string'),
 ('arrival_dt', 'date'),
 ('depart_dt', 'date'),
 ('length_stay', 'int')]

In [336]:
def process_facts_table()

In [335]:
# df_test.join(timeframe, on=df_test['arrdate']==timeframe['i94_date'], how='leftouter').show() 
# too complicated
#df_test.join(timeframe, on=df_test['arrdate']==timeframe['i94_date'], how='left').dropDuplicates().select(timeframe['dt_date']).show()

In [323]:
df_test.count()

439428

In [ ]:
df_test.withColumn("length_stay", F.datediff("depart_date", "arrival_date")).show()